<!DOCTYPE web-app PUBLIC
        "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
        "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns="http://java.sun.com/xml/ns/javaee"
        xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
        xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
        id="Your_WebApp_ID"
        version="2.5">
    <display-name>Archetype Created Web Application</display-name>


    <!-- Protect everything within the "investing" directory. -->
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>userHomePage</web-resource-name>
            <url-pattern>/user-home-page</url-pattern>
        </web-resource-collection>

        <auth-constraint>
            <role-name>administrator</role-name>
            <role-name>biz_owner</role-name>
            <role-name>ofc_staff</role-name>
        </auth-constraint>
    </security-constraint>

    <security-constraint>
        <web-resource-collection>
            <web-resource-name>searchClientFormServlet</web-resource-name>
            <url-pattern>/search-client-form</url-pattern>
        </web-resource-collection>

        <auth-constraint>
            <role-name>administrator</role-name>
            <role-name>biz_owner</role-name>
            <role-name>ofc_staff</role-name>
        </auth-constraint>
    </security-constraint>

    <security-constraint>
        <web-resource-collection>
            <web-resource-name>searchClientFormServlet</web-resource-name>
            <url-pattern>/delete-client</url-pattern>
        </web-resource-collection>

        <auth-constraint>
            <role-name>administrator</role-name>
            <role-name>biz_owner</role-name>
            <role-name>ofc_staff</role-name>
        </auth-constraint>
    </security-constraint>

    <security-constraint>
        <web-resource-collection>
            <web-resource-name>userLogoutPage</web-resource-name>
            <url-pattern>/user-logout-page</url-pattern>
        </web-resource-collection>

        <auth-constraint>
            <role-name>administrator</role-name>
            <role-name>biz_owner</role-name>
            <role-name>ofc_staff</role-name>
        </auth-constraint>
    </security-constraint>

    <security-role>
        <role-name>administrator</role-name>
    </security-role>

    <security-role>
        <role-name>biz_owner</role-name>
    </security-role>

    <security-role>
        <role-name>ofc_staff</role-name>
    </security-role>


    <!-- Tell the server to use form-based authentication. -->
    <login-config>
        <auth-method>FORM</auth-method>
        <form-login-config>
            <form-login-page>/userLoginForm.jsp</form-login-page>
            <form-error-page>/userLoginError.jsp</form-error-page>
        </form-login-config>
    </login-config>


</web-app>


